.empty__message {
  font-size: 15px;
  margin-bottom: 50px;
  text-align: center;
}
.video__grid {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(4, 1fr);
}
.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}
.change-password {
  margin-top: 20px;
  padding: 20px;
  border-top: 1px solid rgba($color: white, $alpha: 0.5);
  display: flex;
  justify-content: center;
  text-decoration: underline;
}
