div.social-login
    a(href="/users/github/start").social-login__btn.social-login__gitbtn
        i.fab.fa-github 
        | Continue with Github &rarr;
    br
    a(href="/users/kakao/start").social-login__btn.social-login__kakaobtn 
        i.fab.fa-kickstarter-k 
        | Continue with Kakao &rarr;